<nav class="navHead">
    <ul>
        <li>
            <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('cars_index') }}">Nos Voitures</a>
        </li>
        <li>
            <a href="{{ path('homepage') }}"><h2>Garage</h2></a>
        </li>
    
    </ul>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{label}}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}