{% extends 'base.html.twig' %}

{% block title %}Nos Voitures{% endblock %}

{% block body %}
    <div class="accCars">
        {% if brand %}
            <h1>Nos voitures {{logoBrand.brand}}</h1>
        {% else %}
            <h1>Toutes nos voitures</h1>
        {% endif %}
    </div>
    <div class="menuBrand">
        {% for cat in categories %}
        {% set url = path('cars_brand', {'slug_brand':cat.slugBrand}) %}
            {% if cat.slugBrand == brand %}
                <a href="/cars">
                    <div class='active'>
                        <img src="{{cat.urlBrand}}" alt="">
                    </div>
                </a>
            {% else %}
                <a href="{{url}}">
                    <div>
                        <img src="{{cat.urlBrand}}" alt="">
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="contenaireVoiture">
        {% for car in cars %}
        {% set url = path('car_show', {'id':car.id}) %}
        {% if admin %}
            {% set urlModif = path('car_edit', {'id':car.id}) %}
            {% set urlDelete = path('car_delete', {'id':car.id}) %}
        {% endif %}
            {% if admin %}
            <div class="voiture admin">
            {% else %}
            <div class="voiture">
            {% endif %}
                <div class="imgVoit">
                    <img src="{{car.coverImage}}" alt="Image de ">
                </div>
                <div class="infoVoit">
                    <h3 class="nomVoit">{{car.brand}} {{car.model}} {{car.releaseYear}}</h3>
                    <div class="priceKM">
                        <h5 class="price">{{car.price}} €</h5>
                        <h5 class="km">{{car.kilometers}} km</h5>
                    </div>
                    <div class="descriptionVoit">
                        <p>{{car.description}}</p>
                    </div>
                    <div class="btnVoit">
                        <a class="btn btn-light" href="{{url}}">En savoir plus</a>
                        {% if admin %}
                        <a class="btn btn-warning" href="{{urlModif}}">Modifier la voiture</a>
                        <a class="btn btn-danger" href="{{urlDelete}}">Supprimer la voiture</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
